<!-- header logo: style can be found in header.less -->
<header class="header">
	<a href="/" class="logo">
		<!-- Add the class icon to your logo image or logo icon to add the margining -->
		<!-- What's Up? -->
		<img src="/img/logo.png" style="height: 40px;">
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<!-- Notifications: style can be found in dropdown.less -->
				<% if(typeof user != "undefined"){ %>
					<li class="dropdown notifications-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-warning"></i>
							<span class="label label-warning">10</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 10 notifications</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<i class="ion ion-ios7-people info"></i> 5 new members joined today
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-users warning"></i> 5 new members joined
										</a>
									</li>

									<li>
										<a href="#">
											<i class="ion ion-ios7-cart success"></i> 25 sales made
										</a>
									</li>
									<li>
										<a href="#">
											<i class="ion ion-ios7-person danger"></i> You changed your username
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">View all</a></li>
						</ul>
					</li>
				<% } %>
				<li  class="dropdown notifications-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-info-circle"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="header">Version : <%= version %></li>
					</ul>
				</li>
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="glyphicon glyphicon-user"></i>
						<% if(typeof user != "undefined"){ %>
						<span><%=user.firstName%> <%=user.lastName%> <i class="caret"></i></span>
						<% } %>
					</a>
					<ul class="dropdown-menu">
						<% if(typeof user != "undefined"){ %>
							<!-- User image -->
							<li class="user-header bg-light-blue">
								<% if(typeof user != "undefined" && typeof user.gravatar != "undefined" && user.gravatar != ""){ %>
									<img src="<%=user.gravatar%>" class="img-circle" alt="User Image" />
								<% } else{%>
									<img src="/img/default.png" class="img-circle" alt="User Image" />
								<% } %>
								<p>
									<%=user.firstName%> <%=user.lastName%>
								</p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="col-xs-12 text-center">
									<%=user.title%>
								</div>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="/profile" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<a href="/logout" class="btn btn-default btn-flat">Sign out  <i class="fa fa-sign-out"></i></a>
								</div>
							</li>
						<% } else {%>
							<!-- User image -->
							<form action="/login" method="post">
								<li class="user-header bg-light-blue">
									<div class="header">
										Sign In
									</div>
								</li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="col-xs-12 text-center">
										<div class="form-group">
											<input type="text" name="username" class="form-control" placeholder="ID"/>
										</div>
										<div class="form-group">
											<input type="password" name="password" class="form-control" placeholder="Password"/>
										</div>
										<button type="submit" class="btn bg-olive btn-block">Sign in  <i class="fa fa-sign-in"></i></button>
									</div>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="col-xs-12 pull-right">
										<a href="#" target="_blank">I forgot my password</a>
									</div>
								</li>
							</form>
						<% } %>
					</ul>
				</li>

			</ul>
		</div>
	</nav>
</header>
